 <div class="container">
    
    <div class="homeList">
        {{# each posts }}
            <a href="/posts/upvote/{{ this._id }}" class="btn btn-warning">+</a>
            <button type="button" class="btn btn-warning" style="height: 100%;">
                  <span class="badge badge-light">{{ this.votes }}</span>
            </button>
            <a href="/posts/{{ this._id }}">{{ this.title }}</a>
            <p class="ml-5">Posted by: <a href="/users/profile/{{ this.author }}" style="font-weight: 600; font-size: 18px;">{{ this.username }}</a></p>
            <div class="divider"></div>
        {{/each}}
    </div>

</div>
