 <div class="container">

     <h1>{{ post.title }}</h1>

     <div class="divider mb-4"></div>

     <h3 class="ml-4 mr-4">{{ post.body }}</h3>
     <h5 class="ml-4 mr-4">Posted By: <a href="/users/profile/{{ post.author }}">{{ author }}</a></h5>


    {{#if postedBy}} 
        <a href="/posts/edit/{{ post._id }}" class="btn btn-warning ml-4 mr-4">Edit Post</a>
        <a href="#" data-id="{{ post._id }}" class="btn btn-danger delete-post">Delete</a>
    {{/if}}


     <div class="divider mb-2 mt-4"></div>

    <form action="/posts/comment/{{ post._id }}" method="POST">
        <h1>Add A Comment</h1>
        <div class="form-group">
            <label>Body:</label>
            <textarea name="body" style="width:100%;"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-warning">
     </form>

     <h1>Comments</h1>

     <ul class="commentsList">
        {{#each post.comments}}
            <li>{{ this.body }}</li>
            <li class="ml-4 mb-1">Posted By: User</li>
            <div class="divider"></div>
        {{/each}}
    </ul>

</div>
